<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.system.mapper.ProblemMapper">

    <insert id="insertProblem" parameterType="com.system.entity.Problem" useGeneratedKeys="true"
            keyProperty="problemId">
        INSERT INTO Problem (title, description, input_spec, output_spec, sample_input, sample_output, remark,
                             time_limit, memory_limit, creator_id, is_hidden, created_at, updated_at)
        VALUES (#{title}, #{description}, #{inputSpec}, #{outputSpec}, #{sampleInput}, #{sampleOutput}, #{remark},
                #{timeLimit}, #{memoryLimit}, #{creatorId}, 0, NOW(), NOW())
    </insert>

    <update id="updateProblem" parameterType="com.system.entity.Problem">
        UPDATE Problem
        <set>
            <if test="title != null">title = #{title},</if>
            <if test="description != null">description = #{description},</if>
            <if test="inputSpec != null">input_spec = #{inputSpec},</if>
            <if test="outputSpec != null">output_spec = #{outputSpec},</if>
            <if test="sampleInput != null">sample_input = #{sampleInput},</if>
            <if test="sampleOutput != null">sample_output = #{sampleOutput},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="timeLimit != null">time_limit = #{timeLimit},</if>
            <if test="memoryLimit != null">memory_limit = #{memoryLimit},</if>
            <if test="isHidden != null">is_hidden = #{isHidden},</if>
            updated_at = NOW()
        </set>
        WHERE problem_id = #{problemId}
    </update>

    <select id="findById" resultType="com.system.entity.Problem">
        SELECT *
        FROM Problem
        WHERE problem_id = #{problemId}
    </select>

    <update id="hideProblemById">
        UPDATE Problem
        SET is_hidden  = 1,
            updated_at = NOW()
        WHERE problem_id = #{problemId}
    </update>

    <select id="countUsageInContests" resultType="int">
        SELECT COUNT(*)
        FROM contest_problem
        WHERE problem_id = #{problemId}
    </select>

    <delete id="deleteProblemById">
        DELETE
        FROM Problem
        WHERE problem_id = #{problemId}
    </delete>

    <select id="pageQuery" resultType="com.system.vo.ProblemListVO">
        SELECT
        p.problem_id,
        p.title,
        p.creator_id,
        p.is_hidden,
        p.created_at
        -- 根据VO的需要选择其他列
        FROM
        problem p
        <where>
            <if test="query.keyword != null and query.keyword != ''">
                AND p.title LIKE CONCAT('%', #{query.keyword}, '%')
            </if>
            <if test="query.creatorId != null">
                AND p.creator_id = #{query.creatorId}
            </if>
            <if test="query.isHidden != null">
                AND p.is_hidden = #{query.isHidden}
            </if>
        </where>
        ORDER BY
        ${sortColumn} ${sortDirection}
    </select>
</mapper>